html {
    font-family: "helvetica neue";
    background: url(fondo.png), #550b1b;
    background: url(fondo.png),linear-gradient(to left, #1b0c10, #550b1b);
  }
  
  h1 {
    color: white;
    padding: 10px;
  }
  body{
    color: white;
  }
  

