#div04{
    display: flex;
    flex-direction: column;
}

form{
    text-align: center;
    width: 50%;
    margin: auto;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    border: solid 1px black;
    background-color: rgba(0, 0, 0, 0.561);
    color: white;
}

input{
    margin: auto;
    width: 50%;
    margin-top: 20px;
}

#resultado{
    text-align: center;
    font-size: larger;
}

