html {

  min-height: 600px;
  font-family: "helvetica neue";
  background: url(fondo.png), #550b1b;
  background: url(fondo.png),
    -webkit-gradient(linear, right top, left top, from(#2196f3), to(#009688));
  background: url(fondo.png),
    linear-gradient(to left, #1b0c10, #550b1b);
    color: white;
}

h1 {
  color: #fff;
  padding: 10px;
  text-align: center;
  background-color: #1b0c10;
  width: fit-content;
  margin: auto;
  opacity: 80%;
  border-radius: 6px;
}

#botonUnico{
  background-color: black;
  color: white;
  width: 5%;
}
#botonUnico{
  margin-left: 47.5%;
  margin-top: 20px;
  margin-bottom: 20px;
}
ol{
  background-color: #1b0c10;
  height: 220px;
  padding: 35px;
  width: 100px;
  opacity: 80%;
  margin: auto;
}
