html {
    background-color: #2196f3;
    min-height: 600px;
    font-family: "helvetica neue";
    background: url(fondo.png), #550b1b;
    background: url(fondo.png),linear-gradient(to left, #1b0c10, #550b1b);
    color: white;
  }
  h1 {
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  body{
    color: lightslategray;
  }
