html {
    font-family: "helvetica neue";
    background: url(fondo.png), #550b1b;
    background: url(fondo.png),linear-gradient(to left, #1b0c10, #550b1b);
  }
  
  h1 {
    color: white;
    padding: 10px;
    text-align: center;
  }
  body{
    color: white;
  }

 #rombo{
  min-width: 200px;
  min-height: 200px;
  background-color: #1b0c1079;
  border: none;
  border-radius: 4px;
 }
  

