body{
    background-color: white;
}
#cont{
    margin: auto;
    width: 80%;
    border: 1px solid rgba(0, 0, 0, 0.41);
    border-radius: 5px;
    background-color: rgba(138, 138, 138, 0.136);
    min-height: 600px;
}
h1,h3{
    text-align: center;
}
#cont{
    display: flex;
    justify-content: center;
}
#cont > form{
    margin: 5%;
    width: 30%;
    padding: 15px;
}
#registrarProd{
    display: flex;
    flex-direction: column;
}
.boton{
    height: 30px;
    background-color: rgba(0, 0, 0, 0.219);
    border: none;
    margin: auto;
    border-radius: 5px;
}
.botones{
    margin-top: 20px ;
    display: flex;
}
